.popup__error {
  opacity: 1;
  margin: 0;
  box-sizing: border-box;
  display: block;
  min-height: 34px;
  max-width: 358px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

@media screen and (max-width: 450px) {
  .popup__error {
    min-width: 238px;
    margin: 0 auto;
  }
}