.header__email {
    display: block;
    margin: 0;
    padding: 0 27px 0 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    align-self: center;
}